{% extends 'base.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" style="margin-top: 20px;">
                <strong>{{message}}</strong>
                <button class="close" type="button" data-dismiss="alert" role="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    {% if not cart.products.count %}
        <h3 class="text-center mt-5 mb-5">Ваша корзина пуста!</h3>
    {% else %}
        <h3 class="text-center mt-5 mb-5">Корзина</h3>

        <table class="table" style="margin-bottom: 20px;">
            <thead>
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">Изображение</th>
                    <th scope="col">Цена за ед. товара</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Общая цена</th>
                </tr>
            </thead>
            <tbody>
                {% for product in cart.products.all %}
                    <tr>
                        <th scope="row">{{ product.content_object.title }}</th>
                        <td class="w-25">
                            <img class="img-fluid" src="{{ product.content_object.image.url }}" alt="">
                        </td>
                        <td>{{ product.content_object.price }} тнг.</td>
                        <td>
                            <form action="{% url 'change_quantity' ct_model=product.content_object.get_model_name slug=product.content_object.slug %}" method="POST">
                                {% csrf_token %}
                                <input type="number" class="form-control" name="quantity" style="max-width: 70px;" min="1" value="{{ product.quantity }}">
                                <input type="submit" class="btn btn-primary" value="Изменить">
                            </form>
                        </td>
                        <td>{{ product.final_price }} тнг.</td>
                        <td>
                            <a href="{% url 'delete_from_cart' ct_model=product.content_object.get_model_name slug=product.content_object.slug %}">
                                <button class="btn btn-danger">Удалить</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"></td>
                    <th scope="row">Итого:</th>
                    <td>{{ cart.total_products }}</td>
                    <td>{{ cart.final_price }} тнг.</td>
                </tr>
            </tbody>
        </table>
    {% endif %}

{% endblock %}